{% extends 'core/base.html' %}

{% load crispy_forms_tags %}

{% block title %}User Setting{% endblock %}

{% block content %}
<h3>User Setting</h3>
{% if user.is_authenticated %}
<div class="row">
    <div class="col-6">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <button class="btn btn-outline-info me-2" type="submit">Update Setting</button>
            <a href="{% url 'home' %}" class="btn btn-outline-info">Cancel</a>
        </form>
    </div>
</div>
{% else %}
<p>You are not allow here.</p>
{% endif %}

{% endblock %}