{% extends 'core/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Add product{% endblock %}

{% block content %}
<h3>Add Product</h3>
{% if user.user_category == 'Owner' %}
<div class="row">
    <div class="col-6">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <button class="btn btn-info me-2" type="submit">Add Product</button>
        </form>
    </div>
</div>
{% else %}
<p>You are not allow here.</p>
{% endif %}

{% endblock %}