{% extends 'core/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Product Update{% endblock %}

{% block content %}
<h3>Product Update</h3>
{% if user.user_category == 'owner' %}
<div class="row">
    <div class="col-6">
        <form method="POST" class="form-control" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <button class="btn btn-info me-2" type="submit">Update Product</button>
        </form>
    </div>
</div>
{% else %}
<p>You are not allow here.</p>
{% endif %}

{% endblock %}