{% extends 'core/base.html' %}

{% block title %}{{ product_title }}{% endblock %}

{% block content %}
<div class="card" style="width: 18rem;">
    {% if product.product_image %}
    <img src="{{ product.product_image.url }}" class="card-img-top" alt="...">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">{{ product.product_title }} {{ product.product_name}}</h5>
        <p class="card-text">{{ product.product_price}} TK</p>
        <a href="{% url 'product_update' product.id %}" class="btn btn-outline-info">Edit</a>
        <a href="{% url 'product_delete' product.id %}" class="btn btn-outline-info">Delete</a>
    </div>
</div>
{% endblock %}