{% extends 'core/base.html' %}
{% load static %}
{% block title %}Django-ecommerce{% endblock %}

{% block content %}
{% for product in products %}
<div class="card" style="width: 18rem;">
    {% if product.product_image %}
    <img src="{{ product.product_image.url }}" class="card-img-top" alt="...">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">{{ product.product_title }} {{ product.product_name}}</h5>
        <p class="card-text">{{ product.product_price}} TK</p>
        {% if user.user_category == 'Customer' %}
        <a href="#" class="btn btn-outline-info">Buy</a>
        <a href="{% url 'product_detail' product.id %}" class="btn btn-outline-info">Details</a>
        {% else %}
        <a href="{% url 'product_detail' product.id %}" class="btn btn-outline-info">Details</a>
        {% endif %}
    </div>
</div>
{% endfor %}
{% endblock %}