{% extends 'core/base.html' %}
{% load static %}
{% block title %}Django-ecommerce{% endblock %}

{% block content %}
<div class="row">
    {% for product in products %}
    <div class="col-sm-4">
        <div class="card">
            {% if product.product_image %}
            <img src="{{ product.product_image.url }}" class="card-img-top" alt="...">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ product.product_title }} {{ product.product_name}}</h5>
                <p class="card-text">${{ product.product_price}}</p>
                <hr>
                {% if user.user_category == 'Owner' %}
                <a href="{% url 'product_detail' product.id %}" class="btn btn-outline-info">Details</a>
                {% else %}
                <button data-product={{product.id}} data-action="add" class="btn btn-outline-info add-to-cart">
                    Add to Cart
                </button>
                <a href="{% url 'product_detail' product.id %}" class="btn btn-outline-info">Details</a>
                {% endif %}
            </div>
        </div>
        <br>
    </div>
    <br>
    {% endfor %}
    <br>
</div>

<script type="text/javascript">

    // show rating


</script>
{% endblock %}