{% extends 'core/dashboard.html' %}
{% load crispy_forms_tags %}

{% block board %}
<h3>User Detail</h3>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <button class="btn btn-outline-info" type="submit">Update</button> &nbsp;
            <a href="{% url 'user_list' %}" class="btn btn-outline-info">Cancel</a>
        </form>

    </table>
</div>
{% endblock %}