{% extends 'core/dashboard.html' %}

{% block board %}
<h3>Users</h3>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Category</th>
            </tr>
        </thead>
        {% for user in users %}
        <tbody>
            <tr>
                <td>{{ user.id }}</td>
                <td><a href="{% url 'user_detail' user.id %}" class="text-decoration-none">{{ user.email }}</a></td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.user_category }}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>
{% endblock %}